@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=IBM+Plex+Mono:wght@200;300;700&family=Quicksand:wght@300;400;500&family=Roboto:wght@300;700&family=Staatliches&display=swap');


*{ padding: 0;
    margin: 0;
}

header{
    background-color: white;
}


.logo{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 9px;
}

.contenedormenu{
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around

}


a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}


.menu{
    transition: 900ms background ease-in ;
    padding: 4px;
}

.menu:hover{
    cursor: pointer;
background-color: black;
    color: white; 
    padding: 4px;   
}

.iconoanimacion{
    padding: 4px;
    margin-left: 20px;
    transition: 900ms background ease-in ;
}

.iconoanimacion:hover{
    cursor: pointer;
    background-color: black;
    padding: 4px;
    color: white;  

}




.titulo1{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 27px;

}

.titulo2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;

}

.contenedor1{
    margin-right: 40px;
}

.heroinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: rgba(241, 241, 48, 0.959);
}


.seccion1{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}

button{
   padding: 8px;
   font-family: 'Quicksand', sans-serif;
   font-weight: 500;
   background-color: black;
   color: white;
   transition: 900ms background ease-in;

}

.button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


.contacto{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-decoration:underline
}

img{
    width: 20%;
    border: 9px solid white;
    border-radius: 55%;
    
}    


.vivoen{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 300px;
    font-family: 'Quicksand', sans-serif;;

}

.hero2{

    background-color: aquamarine;
    margin-top: 30px;
}

.hero3{
    background-color: darksalmon;
}

