@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=IBM+Plex+Mono:wght@200;300;700&family=Quicksand:wght@300;400;500&family=Roboto:wght@300;700&family=Staatliches&display=swap');


*{ padding: 0;
    margin: 0;
}

header{
    background-color: white;
}


.logo{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 9px;
}

.contenedormenu{
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}


.menu{
    transition: 900ms background ease-in ;
    padding: 4px;
}

.menu:hover{
    cursor: pointer;
background-color: black;
    color: white; 
    padding: 4px;   
}

.iconoanimacion{
    padding: 4px;
    margin-left: 20px;
    transition: 900ms background ease-in ;
}

.iconoanimacion:hover{
    cursor: pointer;
    background-color: black;
    padding: 4px;
    color: white;  

}




.titulo1{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 27px;

}

.titulo2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;

}

.contenedor1{
    margin-right: 40px;
}

.heroinfo{
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 100px 0;
    background-color: #D397C3;
}


.seccion1{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}

.contenedor1 button{
   padding: 8px;
   font-family: 'Quicksand', sans-serif;
   font-weight: 500;
   background-color: black;
   color: white;
   transition: 900ms background ease-in;

}

.button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


.contacto{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-decoration:underline
}

.heroinfo img{
    height: 23%;
    width: 23%;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    transition: none;  
}    

.heroinfo img:hover{
    background-color: black;
    border-radius: 70%;
    padding: -10px;
    transition: 900ms background ease-in ;
    size: 40%;
    border: black
}


.vivoen{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 300px;
    font-family: 'Quicksand', sans-serif;;

}


.secciondos{
    background-color: white;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoseccion2{
    display: flex;
    margin-top: 50px;
    justify-content: center;
   
  
}

.infoizquierda{
    display: flex;
    flex-direction: column;
    width: 400px;
margin-right: 90px;
}

.infoizquierda2{
    display: flex;
    flex-direction: column;
align-items: center;
}


.conocemas{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
 
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 15px;
    background-color: #D397C3;
    padding: 5px;
    
}



.tituloparrafo{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.nombre{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-color: #D397C3;
    text-decoration-style: solid; 
    
    
    
}

p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
}

.inforedondo{
    color:rgb(97, 97, 97);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 120px;
    background-color: #D397C3;
    border-radius: 50%;
    padding: -10px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}


.inforedondo:hover{
    background-color: black;
    border-radius: 70%;
    padding: -10px;
    transition: 900ms background ease-in ;
    size: 40%;
}



.redondoabajo{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px; 
}
.experiencia{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px; 
}

h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

table{
    margin-top: 30px;
    
}

.tablaabajo{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.tablaarriba{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

td{
    padding-left: 50px;
}

.secciontres{
    background-color: #E3E2E3;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

img{
    height: 60px;
    padding: 10px;
}

.iconoanimacion2:hover{

    filter:invert();
    transition: 900ms filter ease-in ;
}

.secciontres h2{
    margin-bottom: 20px;
    margin-top: 20px;

}

.contenedor4{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 30px;
    margin-top: 60px;
    margin-right: 40px;
    margin-left: 40px;
}

.contenedor3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
   
}


.hero4{
    background-color: white;
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
}

.contenedorgeneral{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.linea{
    height: 150px;
    border-left: 2px solid #D397C3 ;
    margin-right: 5px;
}



.titulocv{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 5px;
    background: none;
    padding: 0;
}

.textocv{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 15px;
    
}
.h2negrita{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 6px;
}


.cont1cv{
    display: flex;
    align-items: center;
    margin-top: 30px;
    
 
   
}

.cont2cv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   margin-left: 50px;
   margin-right: 50px;
}

.contenidovertical{
 display: flex;
}

.h2competencias{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 76px;
}

.contenedorbarra1{
    width: 480px;
    height: 12px;
    background-color: #E3E2E3;
    border-radius: 100px;
    margin-bottom: -12px;
   
}

.barrasola1{
    width: 360px;
    height: 12px;
    background-color: #D397C3;
    border-radius: 100px;
}

.contenedorbarra2{
    width: 480px;
    height: 12px;
    background-color: #E3E2E3;
    border-radius: 100px;
    margin-bottom: -12px;
   
  
   
}

.barrasola2{
    width: 460px;
    height: 12px;
    background-color: #D397C3;
    border-radius: 100px;
   
}

.contenedorbarra3{
    width: 480px;
    height: 12px;
    background-color: #E3E2E3;
    border-radius: 100px;
    margin-bottom: -12px;
   
}

.barrasola3{
    width: 430px;
    height: 12px;
    background-color: #D397C3;
    border-radius: 100px;
   
}

.contenedorbarra1{
    width: 480px;
    height: 12px;
    background-color: #E3E2E3;
    border-radius: 100px;
    margin-bottom: -12px;
   
}


.textoskills{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.cont-b{
   margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
}

.contencolumna1{
    display: flex;
    flex-direction: column;
    

} 

.contencolumnas2{
    display: flex;
    flex-direction: column;
    
} 

.textoalineado{
display: flex;
justify-content: space-between;
margin-bottom: 5px;
}

.descargar{
    border-bottom: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 9px;
    width: 200px;

}